<template>
  <div>
    <p>
      Session: {{ sessionType(session) }} - {{ sessionPhase(session) }} @ {{ sec2time(session.SessionTime / 1000) }} /
      {{ sec2time(session.SessionEndTime / 1000) }} -
      Local Time: {{ sec2time(session.TimeOfDay) }}
      Ambient: {{ session.AmbientTemp }}°C
      Track: {{ session.TrackTemp }}°C
      Clouds: {{ session.Clouds }}
      Rain: {{ session.RainLevel }}
      Wetness: {{ session.Wettness }}
    </p>
    <p>
      Track: {{ track.Name }} ({{ track.Meters }}m)
    </p>
    <h2>Times</h2>
    <TimeTable></TimeTable>
    <h2>Spline</h2>
    <Spline></Spline>
    <h2>Broadcasts</h2>
    <p v-for="(message, id) in reverseMessages" :key="'message-' + id">
      Car #{{ safeCarNumber(message.CarId) }} {{ broadcastType(message) }} {{ message.Msg }} -
      {{ message }}
    </p>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import TimeTable from './components/TimeTable'
import Spline from './components/Spline'

let sseClient

export default {
  name: 'App',
  components: {
    Spline,
    TimeTable
  },
  mounted () {
    sseClient = this.$sse.create({
      url: '/events?stream=all',
      format: 'json'
    })
    sseClient.on('error', (e) => {
      console.error('lost connection or failed to parse', e)
    })

    sseClient.on('network.RealTimeCarUpdate', this.updateCar)
    sseClient.on('network.EntryList', this.updateEntryList)
    sseClient.on('network.EntryListCar', this.updateEntryListCar)
    sseClient.on('network.BroadCastEvent', this.updateBroadcast)
    sseClient.on('network.TrackData', this.updateTrackData)
    sseClient.on('network.RealTimeUpdate', this.updateSession)

    sseClient.connect().catch((err) => {
      console.log('Failed to connect', err)
    })
  },
  methods: {
    ...mapMutations(['updateCar', 'updateSession', 'updateEntryList', 'updateEntryListCar', 'updateBroadcast', 'updateTrackData']),
    safeCarNumber (carId) {
      return this.cars[carId]?.entry.RaceNumber
    }
  },
  computed: {
    ...mapState(['cars', 'session', 'broadcast', 'track', 'messages']),
    reverseMessages () {
      return this.messages.slice().reverse()
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
