<template>
  <div class="spline">
    <div v-for="(car, id) in sortedCars" :key="id" :style="style(car)" class="car">
      {{ driverFullName(car) }} #{{ car.entry.RaceNumber }} ({{ car.car.Laps }})
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Spline',
  computed: {
    ...mapGetters(['sortedCars'])
  },
  methods: {
    style (car) {
      return `transform: translate(${car.car.SplinePosition * 100}%)`
    }
  }
}
</script>

<style scoped>
.spline {
  display: block;
  position: relative;
  width: 500px;

  box-shadow: inset 125px 0 rgba(0, 0, 0, 0.1), inset 165px 0 rgba(0, 0, 0, 0.1), inset 250px 0 rgba(0, 0, 0, 0.1), inset 330px 0 rgba(0, 0, 0, 0.1), inset 375px 0 rgba(0, 0, 0, 0.1), inset 500px 0 rgba(0, 0, 0, 0.1);
}

.car {
  display: block;
  top: 0;
  left: 0;
  transition: transform 500ms linear;
}

.car::before {
  content: "•"
}
</style>
