<template>
  <div>
    <table>
      <tr>
        <td colspan="13"></td>
        <td colspan="3">Best</td>
        <td colspan="3">Last</td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td>Pos</td>
        <td>CPos</td>
        <td>Series</td>
        <td>Short</td>
        <td>Driver</td>
        <td>D-Cat</td>
        <td>Car#</td>
        <td>Model</td>
        <td>C-Cat</td>
        <td>Current LapTime</td>
        <td>T</td>
        <td>Delta</td>
        <td>Best LapTime</td>
        <td>S1</td>
        <td>S2</td>
        <td>S3</td>
        <td>S1</td>
        <td>S2</td>
        <td>S3</td>
        <td>Spline</td>
        <td>Location</td>
      </tr>
      <tr v-for="(car, id) in sortedCars" :key="id">
        <td>{{ car.car.Position }}</td>
        <td>{{ car.car.CupPosition }}</td>
        <td :class="isGT4(car) ? 'car-gt4' : 'car-gt3'">{{ isGT4(car) ? 'GT4' : 'GT3' }}</td>
        <td>{{ driverInitials(car) }}</td>
        <td>{{ driverFullName(car) }}</td>
        <td>{{ driverCategory(car) }}</td>
        <td>#{{ car.entry.RaceNumber }}</td>
        <td>{{ carModel(car) }}</td>
        <td>{{ cupCategory(car) }}</td>
        <td :class="validClass(car, 'CurrentLap')">{{ lapTime(car, 'CurrentLap') }}</td>
        <td>{{ lapType(car, 'CurrentLap') }}</td>
        <td>{{ car.car.Delta / 1000.0 }}</td>
        <td :class="validClass(car, 'BestSessionLap')">{{ lapTime(car, 'BestSessionLap') }}</td>
        <td :class="bestClass(car, 'BestSessionLap', 0)">{{ sectorTime(car, 'BestSessionLap', 0) }}</td>
        <td :class="bestClass(car, 'BestSessionLap', 1)">{{ sectorTime(car, 'BestSessionLap', 1) }}</td>
        <td :class="bestClass(car, 'BestSessionLap', 2)">{{ sectorTime(car, 'BestSessionLap', 2) }}</td>
        <td>{{ sectorTime(car, 'LastLap', 0) }}</td>
        <td>{{ sectorTime(car, 'LastLap', 1) }}</td>
        <td>{{ sectorTime(car, 'LastLap', 2) }}</td>
        <td>{{ splinePosition(car) }}%</td>
        <td>{{ carLocation(car) }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import '@/mixins/stateStuff'

export default {
  name: 'TimeTable',
  computed: {
    ...mapState(['cars']),
    ...mapGetters(['sortedCars'])
  }
}
</script>

<style scoped>
.lap-invalid {
  background-color: rgba(255, 0, 0, 0.25);
}

.lap-valid {
  background-color: rgba(0, 255, 0, 0.25);
}

.lap-best {
  background-color: rgba(255, 0, 255, 0.25)
}

.lap-outlap {
  background-color: rgba(255, 128, 128, 0.25)
}

.car-gt3 {
  background-color: rgb(255, 128, 0)
}

.car-gt4 {
  background-color: rgb(105, 255, 187)
}
</style>
